extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar-fixed("Colenso Project", "dropdown_menu")
    +nav_item("/") Home 
      +icon("home")
    +nav_item("/browse") Browse
      +icon("book")
    +nav_item("/add", "active") Add
      +icon("plus")
    +nav_item("/find") Search
      +icon("search")
  br
  br
  style.
    h1 {
      font-family: Elephant;
      color: #90EE90;
    }
    h2 {
      font-family: Times New Roman;
    }
  .container
    h1= title
    .container
    h2 Upload your files from this page!
    form(action="/add", method="post", enctype="multipart/form-data")
      +input('file', 'file', '', '', 'file')
      +submit("Upload")
    if upload
      +alert-success("<strong>Your file has been uploaded!</strong>")
    