extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home 
      +icon("home")
    +nav_item("/browse") Browse
      +icon("book")
    +nav_item("/add", "active") Add
      +icon("plus")
    +nav_item("/find") Search
      +icon("search")
  .container
    h1= title
    .container
    p| Browse page or tab