extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar-fixed("Colenso Project", "dropdown_menu")
    +nav_item("/") Home 
      +icon("home")
    +nav_item("/browse", "active") Browse
      +icon("book")
    +nav_item("/add") Add
      +icon("plus")
    +nav_item("/find") Search
      +icon("search")
  br
  br
  .container
    h1= title
    .container
      h2 List of files
      
      each item in place
        +list-group-links([{text: item, url:item}])
        +a-btn-primary("/download?document=" + item) Download
          +icon("save")
        +a-btn-danger("/delete?document=" + item) Delete
          +icon("remove")
          