extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home 
      +icon("home")
    +nav_item("/browse") Browse
      +icon("book")
    +nav_item("/add") Add
      +icon("plus")
    +nav_item("/find", "active") Search
      +icon("search")
  .container
    h1= title
    .container
    p| Search Page
    +panel-primary("Text Search")
      form(action="/find", method="get")
        input(type="text", name="docTitle", placeholder="Enter Text")
        input(type="submit")
    +panel-primary("XQuery Search")
      form(action="/find", method="get")
        input(type="text", name="queryFile", placeholder="Enter XQuery")
        input(type="submit")
    .container
      h2 Search Results
      each item in search_result
        +list-group-links([{text: item, url:item}])
