extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home 
      +icon("home")
    +nav_item("/browse") Browse
      +icon("book")
    +nav_item("/add") Add
      +icon("plus")
    +nav_item("/find", "active") Search
      +icon("search")
  .container
    h1= title
    .container
    p| Search Page
    form(action="/find", method="get")
      input(type="text", name="docTitle", placeholder="Enter Title of Document")
      input(type="submit")
    .container
      h2 Search Results
      each item in search_result
        li !{item}
