extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar-fixed("Colenso Project", "dropdown_menu")
    +nav_item("/") Home 
      +icon("home")
    +nav_item("/browse") Browse
      +icon("book")
    +nav_item("/add") Add
      +icon("plus")
    +nav_item("/find", "active") Search
      +icon("search")
  br
  br
  .container
    h1= title
    .container
    +tab-list(["Text", "XQuery", "Logical"],0)
      +tab("Text","active")
        +panel-primary("Text Search")
          p This search box will go through the database and its documents, and show up the files which contains your exact input
          p Eg: Diary, Wellington
            form(action="/find", method="get")
              +input('text', 'docTitle', 'Enter Text', '', 'docTitle')              
              +submit("Submit")
      +tab("XQuery")
        +panel-primary("XQuery Search")
          p This search box will go through the database and its documents, and will show up files which have the same atrributes as your XQuery
          p Eg: (//name[@type='place'])[1]
            form(action="/find", method="get")
              +input('text', 'queryFile', 'Enter XQuery', '', 'queryFile')
              +submit("Submit")
      +tab("Logical")
        +panel-primary("Logical Search")
          p This search box will go through the database and its documents, and will show up files which match the logical searches you have entered
          p Example for wildcard: delusio.*
          p Example for logical expressions: Native AND breakfasted, Native OR night
          form(action="/find", method="get")
            +input('text', 'queryFile', 'Enter Logic Search', '', 'logicQuery')
            +submit("Submit")

    h2 Search Results
     each item in search_result
       +list-group-links([{text: item, url:item}])

