extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/","active") Home 
      +icon("home")
    +nav_item("/browse") Browse
      +icon("book")
    +nav_item("/add") Add
      +icon("plus")
    +nav_item("/find") Search
      +icon("search")
  .container
    +img-responsive-center("images/Colenso_Project_Logo.jpg","Colenso Logo")
    
    .container
    
    h1 Welcome to The Colenso Project!
    p The Colenso Society, Victoria University of Wellington and MTG Hawke's Bay are delighted to announce the establishment of the Colenso Project. This exciting new initiative seeks to build on the blossoming national and international interest in William Colenso’s life and ideas as the result of the William Colenso Bicentenary Celebrations in Hawke’s Bay in 2011, and a body of new publications and research.

    p The intent of the Project is to ignite public and academic interest in Colenso’s words – published, unpublished, private letters, journals - both in Maori and English, by sharing them with the world in digital form. We envisage a hub for all things Colenso: a place to read documents in the original, explore his writing through transcriptions, and as a place to experiment with new research and interpretation methods.

    
